@import '../../index.scss';
@import '../../Media_queries.scss';

.tags {
    margin-top: 25px;
    @include small{
        margin: 5px;
    }
}

.tag-container {
    align-items: center; 
    display: flex;
    gap: 17px; 
    height: 25px; 
    justify-content: left;
}                    

.item {
    background-color: #FF6060;;
    border-radius: 10px;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 10px;
    color: white;
    @include small{
        font-size: 10px;
    }
}      