@import '../../index.scss';

.cards-container { 
    background-color: $gallery-color;
    border-radius: 25px; 
    margin: 50px auto;
    max-width: 1240px;
    padding-bottom: 10px;
    padding-top: 10px;

    .logements-grid { 
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        padding: 50px;
        width: 100%;                  
        
        .logements-item { 
            position: relative;

            .logements-card { 
                border-radius: 10px; 
                color: white;
                display: block;
                height: 340px;
                max-width: 340px;
                text-decoration: none;                                                         


                .logements-cover { 
                    border-radius: 10px;
                    filter: brightness(0.70);
                    height: 340px;
                    object-fit: cover;
                    width: 100%;            
                                                                             
                    }

                    .logementstitle { 
                        font-size: 18px;
                        position: absolute;
                        bottom: 15px;
                        left: 15px;
                        width: 90%;
                      }
} } } }