@import '../../index.scss';
@import '../../Media_queries.scss';

.cards-container { 
    background-color: $gallery-color;
    border-radius: 25px; 
    margin: 50px auto;
    width: 85%;
    padding-bottom: 10px;
    padding-top: 10px;
        @include small {
            width: 90%;
            background-color: white;
            margin-top: 0px;
        }

    .logements-grid { 
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(3, 1fr);
        width: 90%; 
            @include small{
                grid-template-columns: repeat(1, 1fr);
                height: 100%;
                width: 100%;
                gap: 20px;
            }                 
        
        .logements-item { 
            position: relative;
            @include small {
                height: 225px;
                max-width: 100%;
            }

            .logements-card { 
                border-radius: 10px; 
                color: white;
                display: block;
                height: 340px;
                max-width: 340px;
                text-decoration: none; 
                @include small {
                    height: 100%;
                    max-width: 100%;
                }


                .logements-cover { 
                    border-radius: 10px;
                    filter: brightness(0.70);
                    height: 340px;
                    object-fit: cover;
                    width: 100%;   
                        @include small {
                            height: 100%;
                            max-width: 100%;
                        }         
                                                                             
                    }

                    .logements-title { 
                        font-size: 18px;
                        position: absolute;
                        bottom: 15px;
                        left: 15px;
                        width: 90%;
                      }
} } } }