@import '../../index.scss';

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 1240px;

    .header-logo {
        align-items: center;
        height: 68px;
        width: 210px;
    }

    .nav-bar {
        align-items: center;
        display: flex;
        gap: 50px;

        a {
            color: black;
            font-size: 24px;
            font-weight: 500;
            text-decoration: none;

            &.active {border-bottom: solid 2px black;}
        }
    }
}