@import '../index.scss';

.accordions {
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    width: 100%;
  }
  
  .accordionTitle {
    align-items: center;
    background-color: $main-color;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    width: 100%;
  }
  
  .accordionIcon {
    transition: all 0.5s ease;
  }

  .active .accordionIcon {
    transform: rotate(-180deg);
  }
  
  .accordionContent {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    padding: 0 1rem;
    transition: all .2s ease-in;
    background-color: $gallery-color;
    color: black;
    width: 100%;
  }
  
  .active .accordionContent {
    visibility: visible;
    height: auto;
    overflow: visible;
    padding: 1rem;
  }