@import '../index.scss';

.Header {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 1240px;

    .Header_logo {
        align-items: center;
        height: 68px;
        width: 210px;
    }

    .navbar {
        align-items: center;
        display: flex;
        gap: 50px;

        a {
            color: $main-color;
            font-size: 24px;
            font-weight: 500;
            text-decoration: none;

            &.active {border-bottom: solid 2px $main-color;}
        }
    }
}