@import '../../index.scss';
@import '../../Media_queries.scss';

.error { 
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 139px;
      @include small{
        margin: auto;
        gap: 75px;
      }
      

    img { 
      height: 263px;
      width: 597px;
      margin: 2rem;
        @include small{
          width: 198px;
          height: 99px;
        }
        }
        }

    .error-content{
      color: $main-color;
      font-size: 36px;
      font-weight: 500;

        @include small{
          font-size: 18px;
          text-align: center;
        }
    }
        
    .nav-link-error { 
      color: black;
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 80px;
      text-decoration: underline;
        @include small{
          font-size: 14px;
          text-align: center;
        }
      }
